<div class="center jumbotron">
  <div class="bg"></div>
    <h1>Welcome to Alpha Blog !</h1>
    <p>This Alpha Blog is a first project made during 'The Complete Ruby on Rails deveolper course'. <br>
    Webpage is still under development.</p>
    <p><a class="btn btn-primary btn-lg btn-signup" href="#" role="button">Sign Up</a></p>
</div>